body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  margin: 1em;
  background-color: #F5F5F7;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-right {
  border-right: 2px solid #41403e;
}

.border-bottom {
  border-bottom: 1px solid rgba(65, 64, 62, 0.20);
}

.border-top {
  border-top: 1px solid rgba(65, 64, 62, 0.20);
}

/*noinspection CssReplaceWithShorthandSafely*/
.custom-border {
  border-bottom-left-radius: 225px 100px;
  border-bottom-right-radius: 15px 225px;
  border-top-left-radius: 255px 25px;
  border-top-right-radius: 25px 225px;
}

.bg-blue {
  background-color: blue;
}

.bg-red {
  background-color: red;
}

.no-border {
  border: none;
}

.clean-link {
  background: none;
}

.clean-button {
  border: none;
  padding: 0;
  box-shadow: none;
}

.clean-button:hover {
  transform: translate3d(0, 2px, 0);
  box-shadow: none;
}

.clean-button:focus {
  transform: translate3d(0, 2px, 0);
  box-shadow: none;
  outline: none;
  border: none;
}

.m-0-important {
  margin: 0
}

.mt-0-3 {
  margin-top: 0.3em;
}

.sidebar-footnote {
  margin-left: 0.2em;
  font-size: 0.5em;
  margin-top: 10em;
}

.image-24 {
  width: 24px
}